@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
body{
    padding: 50px 0;
    background: #ffffff;
    font-size: 14px;
    font-family: 'Avenir Next';
    color: #555555;
    -webkit-font-smoothing: antialiased;
}
#caption {
    width: 1200px;
    height: 500px;
    margin: 0 auto;
}
#caption .main {
    width: 1200px;
    height: 500px;
    overflow: hidden;
}
#caption .main .dis{
    width: 700%;
    height: 500px;
}
#caption .main .main-i{
    width: 14.285%;
    float: left;
    position: relative;
}
#caption .main h3{
    font-size: 40px;
    line-height: 50px;
    color: #b5b5b5;
    text-align: right;
    position: absolute;
    right: 62%;
    top: 30%;
    z-index: 9;
}
#caption .main h2{
    font-size: 70px;
    line-height: 70px;
    color: #000000;
    text-align: right;
    font-family: 'Open Sans Condesed';
    position: absolute;
    right: 62%;
    top: 40%;
    z-index: 9;
}

#caption .ctrl{
    width: 900px;
    height: 13px;
    position: relative;
    top: -50px;
    left: 150px;
    line-height: 13px;
    text-align: center;
    z-index: 9;
}
#caption .ctrl .ctrl-i{
    display: inline-block;
    width: 120px;
    height: 13px;
    background-color: transparent;
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    position: relative;
}
#caption .ctrl .ctrl-i img{
    width: 120px;
    position: absolute;
    left:0;
    bottom: 50px;
    opacity:0;
    -webkit-transition:all .3s;
}
#caption .ctrl .ctrl-i:hover{
    background-color: #f0f0f0;
}
#caption .ctrl .ctrl-i:hover img{
    bottom: 13px;
    -webkit-box-reflect: below 0px -webkit-gradient(
            linear,
            left top,
            left bottom,
            from(transparent),
            color-stop(50%,transparent),
            to(rgba(255,255,255,0.3))
    );
    opacity:1;
}
#caption .ctrl .ctrl-i_active:hover,
#caption .ctrl .ctrl-i_active{
    background-color: #666666;
}
#caption .ctrl .ctrl-i_active:hover img{
    opacity:0;
}

#caption .main .main-i h2{
    margin-right: 45px;

}
#caption .main .main-i h3{
    margin-right: -45px;

}
#caption .main-i h2,.slider .main-i h3{
    opacity: 0;
    -webkit-transition:all 1s .8s;
}
#main_background{
    opacity:1;
    right:0;
    z-index: 1;
}
#caption .main .main-i_active h2,
#caption .main .main-i_active h3{
    margin-right: 0;
    opacity:1;
}
#caption .main .main-i{
    display: none;
    -webkit-transition:all .5s;
}
@keyframes fade-in {
    0% {opacity: 0;}/*初始状态 透明度为0*/
    40% {opacity: 0;}/*过渡状态 透明度为0*/
    100% {opacity: 1;}/*结束状态 透明度为1*/
}
#caption .main .main-i_active{
    animation: fade-in;
    animation-duration: 1s;
    -webkit-animation:fade-in 0.5s;
    display: block;
    opacity:1;
    right:0;
    z-index: 2;
}